In [1]:
import pandas as pd
import pickle
import re
import os
from os.path import join
from tqdm import tqdm
from datetime import datetime
from file_function import read_filelist, re_name_upload, write_log_csv_upload
wd = r'D:\scan'

### 이름 순서대로 바꾸기 WITH 엑셀파일

In [29]:
# 엑셀파일 읽기
##################################################
df_valid = pd.read_excel(join(r"D:\3.자산\프로젝트\2023 실물증서정리\광주\230828 스캔추가작업", "광주 스캔작업_230828.xlsx"), dtype=str).dropna(subset=['원인서류', '양도통지서', '법원문서'], how='all')
df_valid

      순번 매각사구분  증서번호      채무자키   채무자명   채무자주민번호 원인서류 양도통지서 법원문서
0      1   DNP   684  20417324    박원구  690415-1    1     1    2
1      2   DNP   987  20411129    조준호  620319-1    1   NaN  NaN
2      3   DNP  1344  20419105    한미옥  621114-2    1   NaN  NaN
3      4   DNP  1421  20419327  ㈜지엘에이  135-81-3    1   NaN    1
4      5   DNP  1751  20414415    서병언  450306-1  NaN   NaN    1
..   ...   ...   ...       ...    ...       ...  ...   ...  ...
402  403    한울  6973  20413791    이병재  831120-1    1   NaN  NaN
403  404    한울  6974  20413802    이성균  750204-1    1   NaN  NaN
404  405    한울  6975  20413771    이완희  620720-1    1   NaN  NaN
405  406    한울  6977  20408034    조미정  680330-2    1   NaN  NaN
406  407    한울  6978  20413790    진희옥  791105-2    1   NaN  NaN

[169 rows x 9 columns]

In [33]:
# 파일명 리스트 만들기
filename_list = []
for i, v in df_valid.iterrows() :
    filename = v.채무자키 + " " + v.채무자명
    if pd.notna(v.원인서류) :
        max = int(v.원인서류)
        for num in range(1, max+1) : 
            last_filename = filename + " 원인서류 " + str(num)
            filename_list.append(last_filename)
    if pd.notna(v.양도통지서) : 
        max = int(v.양도통지서)
        for num in range(1, max+1) : 
            last_filename = filename + " 양도통지서" + str(num)
            filename_list.append(last_filename)
    if pd.notna(v.법원문서) : 
        max = int(v.법원문서)
        for num in range(1, max+1) : 
            last_filename = filename + " 법원문서" + str(num)
            filename_list.append(last_filename)

In [37]:
# 스캔파일 목록
path = wd
file_list = read_filelist(path) # 탐색기 정렬과 무관하게 이름 오름차순으로 정렬된 리스트 반환

In [40]:
# 통합
df = pd.DataFrame({"after" : filename_list, "before" : file_list})

In [44]:
# df 한행씩 불러와서 파일명 바꾸기
success, fail = [], []
for i, v in df.iterrows() :
    
    ext = os.path.splitext(v.before)[1]
    try :
        os.rename(join(path, v.before), join(path, v.after + ext))
        success.append([path, v.before, v.after])
    except Exception as e :
        fail.append([path, v.before, v.after, e.__class__])
        continue
print(f"총 {len(df)}개 중, {len(success)}개 파일명 변경, {len(fail)}개 파일명 변경 실패")

총 260개 중, 260개 파일명 변경, 0개 파일명 변경 실패

In [18]:
df17[~df17.채무상태.str.contains("신용회복")&~df17.채무상태.str.contains("종결") & df17.담당자.str.contains("신용회복")][["채무자키", "채권구분","성명","채무상태","담당자","보증인수"]]

           채무자키     채권구분   성명      채무상태   담당자  보증인수
28846  20408894      IRL  임은주  개인회생(면책)  신용회복     1
35714  20411293      NPL  이봉희    파산(면책)  신용회복     1
36175  20408147      NPL  임영일    파산(면책)  신용회복     1
41114  20479932  CCRS-프리  최은정  개인회생(폐지)  신용회복     0
43928  20460987     CCRS  변성남        사망  신용회복     1
44321  20460595     CCRS  김희정    파산(면책)  신용회복     1
45756  20463197     CCRS  한병우    파산(면책)  신용회복     1
45781  20460057     CCRS  김수복    파산(면책)  신용회복     1
45870  20461028     CCRS  김효준    파산(면책)  신용회복     1
47687  20462469     CCRS  강명주    파산(확정)  신용회복     1
48308  20461330     CCRS  박수진  개인회생(면책)  신용회복     1
48326  20460188     CCRS  박영주    파산(면책)  신용회복     1
48362  20461568     CCRS  박정임    파산(면책)  신용회복     1
48772  20466078     CCRS  이경선  개인회생(면책)  신용회복     1
48888  20464363     CCRS  이승호    파산(면책)  신용회복     1
48977  20463054     CCRS  이주란    파산(면책)  신용회복     1
49261  20464254     CCRS  조바다    파산(면책)  신용회복     1
49421  20459928     CCRS  최일례    파산(면책)  신용회복     1
50391  20462531     CCRS  박창수    파산(면책)  신용회복     1
67142  20408195      NPL  안선이    파산(면책)  신용회복     1
67160  20408336      NPL  천성관        정상  신용회복     1
67674  20413782      NPL  김성환  개인회생(확정)  신용회복     1
67791  20420396      NPL  정미향    파산(면책)  신용회복     1
68308  20407944      NPL  문희경  개인회생(면책)  신용회복     1
68338  20407984      NPL  서창균  개인회생(면책)  신용회복     1
68451  20407794      NPL  허명애    파산(면책)  신용회복     1

In [9]:
path = r"\\192.168.0.75\솔림헬프\1.원인서류\전북-01"
p_extension = re.compile('녹취|m4a|wav|mp[34]') 
result = []
for root, dirs, files in os.walk(path) :
    for d in dirs : 
        if len(read_filelist(join(root, d))) == 0 :
            print(d)

In [5]:
rst_df = pd.DataFrame(data=result, columns=["root", "filename"])
rst_df.to_excel('./녹취파일.xlsx', index=False)

In [8]:
from os.path import join
import pickle
import pandas as pd

with open(join(path_dict, "outList.pkl"), 'rb') as pkl : outList = pickle.load(pkl)

In [10]:
path_dict = r'\\192.168.0.75\스캔파일\스캔파일log\_project\대성파일\중복조사' 
with open(join(path_dict, "kcs별 파일정보_대성.pkl"), 'rb') as pkl : outList = pickle.load(pkl)
outList

{'10622626A5C63C971892274': '/volume1/대성/3.집행권원/씨에프-01/10622626/10622626 서정식 집행권원 2013차전12806.pdf'}