### import

In [1]:
import pandas as pd
import pickle
from os.path import join

### 계좌정보

In [48]:
# 엑셀 to pkl
# path_excel = r"C:\Users\SL\Desktop/채무자조회새창_20221128_1549.xlsx"
# path_pkl = path_excel[:-4] +"pkl"
# df_temp = pd.read_excel(path_excel)
# df_temp.to_pickle(path_pkl)

c:\Users\SL\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [2]:
# 파일읽기
path_pkl = r"D:\1.전산,개발\3.파일서버관리\파일\채무자조회"
debtor = "채무자조회_원금_주소.pkl"
grt = "보증인조회_221128.pkl"
account = "계좌조회새창_20230223_0839.pkl"
df_d = pd.read_pickle(join(path_pkl, debtor))
df_g = pd.read_pickle(join(path_pkl, grt))
df_a = pd.read_pickle(join(path_pkl, account))[["채무자키", "계좌키", "매각사", "매각사구분", "채무자명", "채무상태", "은행대출원금", "최초원금", "현재원금", "최초합계", "OPB"]]

######## 제한 #######################
# df_d = df_d[df_d.매각사구분.str.match("한울")]# & (df_d.원채권사 == "우리은행")
# df_g = df_g[df_g.매각사구분.str.match("한울")]# & (df_g.원채권사 == "우리은행")
# print(len(df_d.index))
# print(df_d.columns)
# print(len(df_g.index))
# print(df_g.columns)

In [58]:
# 금액찾기
##########################
search_value = 40457728
##########################
search_col1 = "현재원금"
search_col2 = "최초원금"
search_col3 = "은행대출원금"
result = df_a[(df_a[search_col1]==search_value) | (df_a[search_col2]==search_value) | (df_a[search_col3]==search_value)]
if len(result)>0 :
    print("원금 일치")
    display(result)
else :
    search_col1 = "최초합계"
    search_col2 = "OPB"
    search_col3 = "현재원금"
    result = df_a[(df_a[search_col1]==search_value) | (df_a[search_col2]==search_value) | (df_a[search_col3]==search_value)]
    if len(result)>0 :
        print("원리금 일치")
        display(result)
    else :
        q_exp = '(최초원금==@search_value) or (현재원금==@search_value) or (OPB==@search_value)'
        result = df_d.query(q_exp)
        if len(result) > 0 :
            print("차주(계좌 합계) 일치값")
            display(result)
        else : 
            print("일치값 없음")

일치값 없음

In [22]:
df_a[df_a[search_col2]==search_value]

,채무자키,계좌키,매각사,매각사구분,채무자명,채무상태,은행대출원금,최초원금,현재원금,최초합계,OPB
324,20412872,200919763,한울가람대부㈜,한울가람,㈜대신,정상,7000000,7000000,7000000,12961315,7000000
1016,20455270,200920455,한울가람대부㈜,한울가람,이용무,매각,7000000,7000000,0,13133125,7000000
1017,20413303,200920456,한울가람대부㈜,한울가람,지순심,정상,10000000,7000000,7000000,13011297,7000000
1215,20413426,200920654,한울가람대부㈜,한울가람,박춘자,파산(확정),7000000,7000000,7000000,13124758,7000000
1476,20455339,200920915,한울가람대부㈜,한울가람,김준영,종결,7000000,7000000,0,24674647,7000000
...,...,...,...,...,...,...,...,...,...,...,...
69845,20496637,201019776,㈜전북은행,전북-01,권명택,정상,8000000,7000000,7000000,9512234,7309214
71494,20500259,201027946,엘케이파트너스대부(유),베리타스-01,최솔이,환매,7000000,7000000,0,20353870,7000000
74549,20514958,201045811,㈜퀀텀자산관리대부,퀀텀-01,황정아,개인회생(확정),7000000,7000000,6631646,10789408,1526038
75921,20525757,201059422,카카오뱅크,카카오-01,하승민,신용회복(확정),1000000,7000000,6710496,7163136,7063182
77685,20527521,201061186,카카오뱅크,카카오-01,김재훈,신용회복(확정),7000000,7000000,7000000,8847688,1239576

In [28]:
# 주소찾기
##########################
search_value = "삼도동촌길"
##########################
search_col1 = "자택주소"
search_col2 = "초본주소"
df_d[((df_d[search_col1].str.contains(search_value)) | (df_d[search_col2].str.contains(search_value)))][["채무자키","매각사","자택주소", "초본주소"]]

Empty DataFrame
Columns: [채무자키, 매각사, 자택주소, 초본주소]
Index: []

In [86]:
# 우편번호찾기
##########################
search_value = "10911"      
##########################
search_col1 = "자택우편번호"
search_col2 = "초본우편번호"
search_col3 = "직장우편번호"
df_d[(df_d[search_col1]==search_value) | (df_d[search_col2]==search_value) | (df_d[search_col3]==search_value)]

Empty DataFrame
Columns: [채무자키, 매각사구분, 성명, 주민번호인, 채무상태, 원채권사, 매각사, 최초원금, 현재원금, OPB, 관리자비고, 관리자기타, 비고, 자택전화인, 직장전화인, 핸드폰인, 자택우편번호, 자택주소, 자택번지인, 직장우편번호, 직장주소, 직장번지인, 초본우편번호, 초본주소, 초본번지인, 보증인성명, 보증인상태, 타채무자키, 변경전성명인, 변경전주민번호인]
Index: []

[0 rows x 30 columns]

In [88]:
# 보증인
##########################
search_value = "07926"      
##########################
search_col1 = "자택우편번호"
search_col2 = "초본우편번호"
search_col3 = "직장우편번호"
df_g[(df_g[search_col1]==search_value) | (df_g[search_col2]==search_value) | (df_g[search_col3]==search_value)]

Empty DataFrame
Columns: [채무자키, 매각사구분, 보증인성명인, 주민번호인, 계좌번호, 채무자관계, 채무자명, 보증구분, 보증인상태, 보증금액, 보증잔액, 보증한도액, 메모, 핸드폰인, 자택전화인, 직장전화인, 자택우편번호, 자택주소, 자택번지인, 직장우편번호, 직장주소, 직장번지인, 직장명인, 초본우편번호, 초본주소, 초본번지인, 초본발급일, 세대주관계, 우편발송일, 우편발송결과, 매입일, 보증일, 종결일, 종결사유, 관할법원, 사건번호, 보증인키, 계좌키, 원채권사, 매각사, 전입일, 반송사유, 반송일, 우편발송금지, 타채무자키, 채무자주민번호, 최신화결과화면, 등록일자, 등록유저, 수정일자, 수정유저]
Index: []

[0 rows x 51 columns]