### import

In [4]:
import pandas as pd
import pickle
from os.path import join

### 계좌정보

In [48]:
# 엑셀 to pkl
# path_excel = r"C:\Users\SL\Desktop/채무자조회새창_20221128_1549.xlsx"
# path_pkl = path_excel[:-4] +"pkl"
# df_temp = pd.read_excel(path_excel)
# df_temp.to_pickle(path_pkl)

c:\Users\SL\anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
# 파일읽기
path_pkl = r"D:\1.전산,개발\3.파일서버관리\파일\채무자조회"
debtor = "채무자조회_원금_주소.pkl"
grt = "보증인조회_221128.pkl"
account = "계좌조회새창_20230223_0839.pkl"
df_d = pd.read_pickle(join(path_pkl, debtor))
df_g = pd.read_pickle(join(path_pkl, grt))
df_a = pd.read_pickle(join(path_pkl, account))[["채무자키", "계좌키", "매각사", "매각사구분", "채무자명", "채무상태", "은행대출원금", "최초원금", "현재원금", "최초합계", "OPB"]]

######## 제한 #######################
# df_d = df_d[df_d.매각사구분.str.match("한울")]# & (df_d.원채권사 == "우리은행")
# df_g = df_g[df_g.매각사구분.str.match("한울")]# & (df_g.원채권사 == "우리은행")
# print(len(df_d.index))
# print(df_d.columns)
# print(len(df_g.index))
# print(df_g.columns)

In [13]:
# 금액찾기
##########################
search_value = 50000000
##########################
search_col1 = "현재원금"
search_col2 = "최초원금"
search_col3 = "은행대출원금"
result = df_a[(df_a[search_col1]==search_value) | (df_a[search_col2]==search_value) | (df_a[search_col3]==search_value)]
if len(result)>0 :
    print("원금 일치")
    display(result)
else :
    search_col1 = "최초합계"
    search_col2 = "OPB"
    search_col3 = "현재원금"
    result = df_a[(df_a[search_col1]==search_value) | (df_a[search_col2]==search_value) | (df_a[search_col3]==search_value)]
    if len(result)>0 :
        print("원리금 일치")
        display(result)
    else :
        q_exp = '(최초원금==@search_value) or (현재원금==@search_value) or (OPB==@search_value)'
        result = df_d.query(q_exp)
        if len(result) > 0 :
            print("차주(계좌 합계) 일치값")
            display(result)
        else : 
            print("일치값 없음")

원금 일치

,채무자키,계좌키,매각사,매각사구분,채무자명,채무상태,은행대출원금,최초원금,현재원금,최초합계,OPB
6,20455181,200919445,디엔피에이엠씨대부㈜,DNP-01,이성춘(서광주방설비),매각,50000000,50000000,0,164258045,50000000
77,20412749,200919516,한울가람대부㈜,한울가람,㈜남양운수,정상,50000000,14924558,14924558,28533487,14924558
95,20412763,200919534,한울가람대부㈜,한울가람,㈜삼우,정상,50000000,22445082,22445082,43053234,22445082
115,20412779,200919554,한울가람대부㈜,한울가람,신기건설㈜,정상,50000000,37450545,37450545,70650281,37450545
122,20412784,200919561,한울가람대부㈜,한울가람,장안화물운송㈜,정상,50000000,35840186,35840186,67497361,35840186
...,...,...,...,...,...,...,...,...,...,...,...
77789,20527625,201061290,카카오뱅크,카카오-01,이원배,신용회복(실효),50000000,33056263,32946077,36454579,33056263
77923,20527759,201061424,카카오뱅크,카카오-01,박철규,개인회생(확정),50000000,34452827,32941707,37870444,11786736
78047,20527883,201061548,카카오뱅크,카카오-01,유지태,개인회생(확정),50000000,42126034,38898339,47153562,14201858
78124,20527960,201061625,카카오뱅크,카카오-01,박정태,개인회생(확정),50000000,38059727,34547882,42584294,13345011
78137,20527973,201061638,카카오뱅크,카카오-01,김태환,개인회생(확정),50000000,45052966,43534876,47470081,6983214

In [14]:
df_a[df_a[search_col2]==search_value]

,채무자키,계좌키,매각사,매각사구분,채무자명,채무상태,은행대출원금,최초원금,현재원금,최초합계,OPB
6,20455181,200919445,디엔피에이엠씨대부㈜,DNP-01,이성춘(서광주방설비),매각,50000000,50000000,0,164258045,50000000
139,20412794,200919578,한울가람대부㈜,한울가람,㈜미각,정상,50000000,50000000,50000000,92749800,50000000
140,20412795,200919579,한울가람대부㈜,한울가람,㈜아이컴퓨터,정상,250000000,50000000,50000000,93734488,50000000
182,20455196,200919621,한울가람대부㈜,한울가람,㈜이노테크,종결,50000000,50000000,0,92731910,50000000
368,20412881,200919807,한울가람대부㈜,한울가람,㈜대우양행,정상,50000000,50000000,50000000,92580821,50000000
...,...,...,...,...,...,...,...,...,...,...,...
69498,20496290,201019429,㈜전북은행,전북-01,주식회사 이엠에스세라텍,정상,50000000,50000000,50000000,67013130,50000000
69524,20496316,201019455,㈜전북은행,전북-01,서혁원,환매,50000000,50000000,0,65914032,50000000
69876,20496668,201019807,㈜전북은행,전북-01,(유)성일에너텍,정상,50000000,50000000,50000000,63774866,50000000
70027,20496819,201019958,㈜전북은행,전북-01,주식회사가르텐,정상,50000000,50000000,50000000,65300840,50000000
70106,20498871,201026558,외환베리타스제2차대부(유),베리타스-01,최용덕,신용회복(확정),50000000,50000000,49242350,134617091,50024900

In [20]:
# 주소찾기
##########################
search_value = "목동중앙북로"
##########################
search_col1 = "자택주소"
search_col2 = "초본주소"
df_d[((df_d[search_col1].str.contains(search_value)) | (df_d[search_col2].str.contains(search_value)))]

,채무자키,매각사구분,성명,주민번호인,채무상태,원채권사,매각사,최초원금,현재원금,OPB,...,직장주소,직장번지인,초본우편번호,초본주소,초본번지인,보증인성명,보증인상태,타채무자키,변경전성명인,변경전주민번호인
1101,20501950,스마트저축-01,강성훈,780209-1063318,신용회복(확정),㈜스마트저축은행,㈜스마트저축은행,13053454,12966434,13425811,...,서울 서초구 강남대로39길,15-10,NaN,서울 양천구 목동중앙북로8가길,4 3층,NaN,NaN,56603450115,NaN,NaN
4762,20502367,스마트저축-01,김경섭,921011-1237117,신용회복(확정),㈜스마트저축은행,㈜스마트저축은행,3543576,3317388,3543576,...,경기 부천시 산업로,23,NaN,서울 양천구 목동중앙북로8길,111 금호베스트빌아파트 104동212호,NaN,NaN,56603457937,NaN,NaN
33412,20455712,KNS,신상민,550625-1011417,매각,삼성상용차,케이엔에스에이엠씨대부,181898850,0,181898850,...,NaN,NaN,07968,"서울 양천구 목동중앙북로 127-5,",(목동),NaN,NaN,1701000446,NaN,NaN
39542,20424986,KCR,유지영,690408-2154916,신용회복(프리),롯데카드,KCR자산관리대부,1375332,1296801,1378550,...,서울 구로구 경인로 397,"6층(고척동,골든타워빌딩)",NaN,NaN,NaN,NaN,NaN,9005000929,NaN,NaN
40225,20433938,KB카드-01,윤상기,740403-1235119,정상,KB국민카드,KB국민카드,7282234,7282234,7339768,...,서울 강남구 언주로136길 13,(논현2동),07946,"서울 양천구 목동중앙북로 7,","508호 (목동,신한이모르젠)",NaN,NaN,9013103426,NaN,NaN
40226,20433939,KB카드-01,윤상기,740403-1235119,정상,KB국민카드,KB국민카드,2897659,2897659,2897659,...,서울 강남구 언주로136길 13,(논현2동),07946,"서울 양천구 목동중앙북로 7,","508호 (목동,신한이모르젠)",NaN,NaN,9013103427,NaN,NaN
42114,20463133,우담-01,이규홍,780926-1631914,신용회복(확정),㈜에이원대부캐피탈,우담자산관리대부,2172886,2141845,2088889,...,서울특별시 양천구 목동중앙북로8라길 24,302호 (목동 ),079-50,서울특별시 양천구 목동중앙북로8라길 24,302호 (목동 ),NaN,NaN,9019003312,NaN,NaN
43155,20526417,카카오-01,이명아,750114-1070014,개인회생(확정),카카오뱅크,카카오뱅크,14043390,13636730,3863270,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3650029537705,NaN,NaN
47486,20431170,KB카드-01,이인곤,670414-1683413,정상,KB국민카드,KB국민카드,7907866,7907866,7961601,...,0,0,07946,"서울 양천구 목동중앙북로 21,",3층 (목동),NaN,NaN,9013100473,NaN,NaN
49539,20428754,케이에스,이창림,590808-1079416,정상,수협,케이에스자산관리대부㈜,0,2496666,0,...,NaN,NaN,07559,서울 강서구 공항대로 593,",1동212호(염창동, 아네스트염창)",NaN,NaN,9009000251,NaN,NaN
55211,20438497,KB카드-01,정기봉,570621-1224928,정상,KB국민카드,KB국민카드,11771434,11771434,11799441,...,서울 동작구 노량진동,13-8번지 다동 206호,06932,"서울 동작구 등용로 124,",(대방동),NaN,NaN,9013200307,NaN,NaN
65754,20430950,KB카드-01,최종희,590824-1695926,정상,KB국민카드,KB국민카드,3212602,3212602,3242955,...,부산 영도구 해양로301번길 26,한국해양수산개발원 (동삼동),49081,"부산 영도구 흰여울길 92,",(영선동4가),NaN,NaN,9013100249,NaN,NaN
66380,20443123,KB카드-01,최환호,571027-1829211,사망,KB국민카드,KB국민카드,1750000,1750000,1759674,...,0,0,07949,서울 양천구 목동중앙북로10길 20 102호(목동 하안아트빌라),(목동),NaN,NaN,9013205273,NaN,NaN
66381,20443124,KB카드-01,최환호,571027-1829211,사망,KB국민카드,KB국민카드,5376979,5376979,5376979,...,0,0,07949,서울 양천구 목동중앙북로10길 20 102호(목동 하안아트빌라),(목동),NaN,NaN,9013205274,NaN,NaN
66382,20443125,KB카드-01,최환호,571027-1829211,사망,KB국민카드,KB국민카드,200000,200000,200000,...,0,0,07949,서울 양천구 목동중앙북로10길 20 102호(목동 하안아트빌라),(목동),NaN,NaN,9013205275,NaN,NaN
69400,20434697,KB카드-01,홍윤정,690322-2042711,정상,KB국민카드,KB국민카드,2000000,2000000,2000000,...,서울 양천구 목동중앙북로 127,(목2동),10934,"경기 파주시 쇠재안길 44,",(금릉동),NaN,NaN,9013104200,NaN,NaN
69401,20434698,KB카드-01,홍윤정,690322-2042711,정상,KB국민카드,KB국민카드,2699940,2699940,2738286,...,서울 양천구 목동중앙북로 127,(목2동),10934,"경기 파주시 쇠재안길 44,",(금릉동),NaN,NaN,9013104201,NaN,NaN

In [86]:
# 우편번호찾기
##########################
search_value = "10911"      
##########################
search_col1 = "자택우편번호"
search_col2 = "초본우편번호"
search_col3 = "직장우편번호"
df_d[(df_d[search_col1]==search_value) | (df_d[search_col2]==search_value) | (df_d[search_col3]==search_value)]

Empty DataFrame
Columns: [채무자키, 매각사구분, 성명, 주민번호인, 채무상태, 원채권사, 매각사, 최초원금, 현재원금, OPB, 관리자비고, 관리자기타, 비고, 자택전화인, 직장전화인, 핸드폰인, 자택우편번호, 자택주소, 자택번지인, 직장우편번호, 직장주소, 직장번지인, 초본우편번호, 초본주소, 초본번지인, 보증인성명, 보증인상태, 타채무자키, 변경전성명인, 변경전주민번호인]
Index: []

[0 rows x 30 columns]

In [88]:
# 보증인
##########################
search_value = "07926"      
##########################
search_col1 = "자택우편번호"
search_col2 = "초본우편번호"
search_col3 = "직장우편번호"
df_g[(df_g[search_col1]==search_value) | (df_g[search_col2]==search_value) | (df_g[search_col3]==search_value)]

Empty DataFrame
Columns: [채무자키, 매각사구분, 보증인성명인, 주민번호인, 계좌번호, 채무자관계, 채무자명, 보증구분, 보증인상태, 보증금액, 보증잔액, 보증한도액, 메모, 핸드폰인, 자택전화인, 직장전화인, 자택우편번호, 자택주소, 자택번지인, 직장우편번호, 직장주소, 직장번지인, 직장명인, 초본우편번호, 초본주소, 초본번지인, 초본발급일, 세대주관계, 우편발송일, 우편발송결과, 매입일, 보증일, 종결일, 종결사유, 관할법원, 사건번호, 보증인키, 계좌키, 원채권사, 매각사, 전입일, 반송사유, 반송일, 우편발송금지, 타채무자키, 채무자주민번호, 최신화결과화면, 등록일자, 등록유저, 수정일자, 수정유저]
Index: []

[0 rows x 51 columns]